.core-container {
  height: 80vh;
  overflow: scroll;
}

.task-card {
  border: solid;
  border-color: rgb(111, 188, 233);
  position: relative;
  border-radius: 1rem;
}

#most-urgent-task-card {
  border: solid;
  border-color: orange;
  position: relative;
  margin: 0.5rem;
  border-radius: 1rem;
}

#most-urgent-task-card > div {
  margin: 0.5rem
}
