.project-card {
    border: solid;
    border-color: black;
}

#progress-bar-container {
    border: solid;
    border-color: green;
    width: 40%; 
    margin-left: 5%;
}

#progress-bar {
    border: solid;
    fill: green;
    border-color: green;
    margin-left: 0;
}