.core-container {
  height: 80vh;
  overflow: scroll;
}

.task-card {
  border: solid;
  border-color: rgb(111, 188, 233);
  position: relative;
  border-radius: 1rem;
}

#most-urgent-task-card {
  border: solid;
  border-color: orange;
  position: relative;
  margin: 0.5rem;
  border-radius: 1rem;
}

#most-urgent-task-card > div {
  margin: 0.5rem
}

#background-progress-level {
  height: 50vh;
  background-color: lightgreen
}

#overall-progress-bar {
  transform: rotate(270deg);
  /* width: 90vw; */
  height: 100vh
}