.core-container {
  height: 80vh;
  overflow: scroll;
}

#task-list {
  margin: auto;
}

/* .task-card {
  border: solid;
  border-color: rgb(111, 188, 233);
  position: relative;
  border-radius: 1rem;
}

#most-urgent-task-card {
  border: solid;
  border-color: orange;
  position: relative;
  margin: 0.5rem;
  border-radius: 1rem;
} */

/* #most-urgent-task-card > div {
  margin: 0.5rem
} */

#task-list>a:nth-child(1) {
  box-shadow: 0px 0px 1px 3px #F2711C;
}

#task-list>a:nth-child(n+2) {
  box-shadow: 0px 0px 1px 2px #2185D0
}

#background-progress-level {
  height: 50vh;
  background-color: lightgreen
}

#overall-progress-bar {
  transform: rotate(270deg);
  /* width: 90vw; */
  height: 100vh
}

#progress-bar-container {
  /* transform: rotate(180deg); */
  margin: 0rem auto auto;
  background-color: lightgreen;
  height: 95vh;
  position: sticky;
  top: 0rem;
  /* position: absolute */
}

#progress-bar {
  background-color: lightgray;
  bottom: 0;
  /* position: relative */
}

.ui.cards::after {
  background-color: blue;
}
