#index-container {
  height: 80vh;
  display: flex;
  flex-direction: row;
}

#tasks-container {
  flex: 2 1 auto;
  padding: 0.5rem;
}

#task-list {
  margin: auto;
  overflow: scroll;
  max-height: 90vh;
}

#filter-menu {
  margin: 0 auto;
  max-width: 800px
}

#task-list>a:nth-child(1) {
  box-shadow: 0px 0px 1px 3px #F2711C;
}

#task-list>a:nth-child(n+2) {
  box-shadow: 0px 0px 1px 2px #2185D0
}

#progress-bar-container {
  /* transform: rotate(180deg); */
  margin: 0rem auto auto;
  background-color: lightgreen;
  height: 95vh;
  position: sticky;
  top: 0rem;
  flex: 1 1 auto;
  min-width: 120px;
  max-width: 120px;
  /* position: absolute */
}

#progress-bar {
  background-color: lightgray;
  bottom: 0;
  /* position: relative */
}

.ui.cards::after {
  background-color: blue;
}
