#main-container {
  padding-bottom: 3rem;
}

#navbar-menu {
    margin: 0 auto;
  max-width: 800px
}

#navbar-menu>div:nth-last-child(1) {
  margin-left: auto;
}

#total-container {
  margin: 0 auto;
  max-width: 800px
}